*.com
*.class
*.dll
*.exe
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
obsolite
dev.lst

# Vi files #
############
**/*~
**/*.bak
**/*.sw[abcdefghijklmnop]

Makefile.proj
db2dpsrc
fnm2db-new.pl
getbstrlib
install-sh
libssh2-1.7.0
libssh2_config.h
remote.sh.log
tests
version.c
version.h
version.pm
x.pl
