**/*console.log*
*.com
*.vagrant
*.class
*.dll
*.exe
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
dev.lst

# Vi files #
############
**/*~
**/*.bak
**/*.sw[abcdefghijklmnop]

**/*.ORG
Makefile.proj
fnm2db-new.pl
getbstrlib
libssh2-1.7.0
libssh2_config.h
remote.sh.log
tests
x.pl
**/not-on-git
**/obsolite
**/host.config
**/data/openvpn/*
**/data/openvpn_test/*
**/*vpn-udp-1194*
**/ssh/id_*
**/data/drivers/*
**/compile_stock_driver/*.gz
**/compile_stock_driver/
**/compile_stock_driver/ixgbe*
**/compile_stock_driver/i40e*
